/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables & Fonts */

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Of-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins"),
    url("assets/fonts/Poppins-Bold.ttf") format("truetype"),
    url("assets/fonts/Poppins-BoldItalic.ttf") format("truetype"),
    url("assets/fonts/Poppins-ExtraBold.ttf") format("truetype"),
    url("assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"),
    url("assets/fonts/Poppins-Italic.ttf") format("truetype"),
    url("assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--Of-white);
}

/* Styling the Card */

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--White);
  border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
  margin: 5.5rem 0 14.88rem;
  width: min(21.4375rem, 90vw);
}

.flex-group {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--Light-grey);
  padding-bottom: 3.97rem;
  margin: 3rem 1.5rem 0 1.5rem;
}

label {
  display: block;
  color: var(--Smokey-grey);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

/* Removing the input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* End */

input {
  width: min(5.5rem, 23vw);

  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-grey);
  color: var(--Off-black);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0125rem;
  cursor: pointer;
}

input:focus,
input:hover {
  outline: none;
  border: 1px solid var(--Purple);
}

.error {
  display: block;
  color: var(--Light-red);
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
}

.card__btn {
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background: var(--Purple);
  padding: 1.25rem;
  border-radius: 50%;
  margin: -2rem auto 0;
}

.card__btn:hover {
  background: var(--Off-black);
}

.card__age {
  margin: 1rem 0 3rem 1.5rem;
}

.card__age li {
  color: var(--Off-black);
  font-size: min(3.5rem, 15vw);
  font-style: italic;
  font-weight: 800;
  letter-spacing: -0.07rem;
}

.card__age span {
  color: var(--Purple);
}

@media (min-width: 37.5rem) {
  .card {
    background-color: var(--White);
    border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    padding-right: 3.5rem;
    width: min(52.5rem, 90vw);
    margin: 10.69rem 0 15rem;
  }
  .flex-group {
    gap: 2rem;
    margin: 3.5rem 3.5rem 0 3.5rem;
  }
  label {
    font-size: 0.875rem;
    letter-spacing: 0.21875rem;
    margin-bottom: 0.3rem;
  }
  input {
    width: min(10rem, 20vw);
    border-radius: 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.02rem;
  }
  .card__btn {
    width: 6rem;
    height: 6rem;
    padding: 1.62rem;
    border-radius: 50%;
    margin: -3rem 0 0 auto;
  }
  .card__age {
    margin: 1rem 0 3.5rem 3.5rem;
  }
  .card__age li {
    font-size: 6.5rem;
    letter-spacing: -0.13rem;
    margin-top: -3rem;
  }
}
